@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
nav {
    padding: 2vw 2vw;
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #ffffff3c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: orangered;
    left: 0;
    top: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    top: 0;
    left: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #ffffff7e;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #000000;
}
.container{
    background-color:#141414 ;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
#left{
    width: 50vw;
}
#left h1{
    font-size: 20vh;
    color: transparent;
    background: linear-gradient(to right,orangered, orange );
    -webkit-background-clip: text;
}
#left p{
    font-size: 4vh;
    color: #ffffff7e;
    transition: 0.3s ease-in-out;
}
#right{
    width: 90vh;
    height: 95vh;
    justify-content: center;
}
#right iframe{
    padding-top: 40px;
    padding-bottom: 150px;
}

