@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #141414;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #ffffff3c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 7, 7);
    left: 0;
    top: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    top: 0;
    left: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #ffffff7e;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #000000;
}
#center{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    padding-bottom:  5vh;
    border-bottom:1px #969696 solid;
}
#left a{
    text-decoration: none;
}
#left h3 {
    color: #969696;
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
    transition: .3s ease-in-out;

}
#left h3:hover{
    color:#DB1C1F;
}

#center h1 {
    color: #969696;
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    transition: .5s ease-in-out;
    
}
#center h1:hover{
    color: #DB1C1F;
}
video{
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #141414;
    position: relative;
}
.con{
    display: flex;
    width: 7000px;
    align-items: center;
    justify-content: space-between;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.con h1{
    font-size: 20vh;
    color: #969696;
    transition: .5s;
    cursor: pointer;

}
.circle{
    background-color: red;
    height: 5vh;
    width: 5vh;
    border-radius: 20px;
    border: 2px #ff0004;
}
#moving-text{
    width: 100%;
    overflow: hidden;
}
@keyframes move {
    from{
        translate: 0%;
    }
    to{
        translate: -77%;
    }
}
.con h1:hover{
    color: #DB1C1F;
}

#play-btn{
    background-color: white;
    position: fixed;
    color: #DB1C1F;
    padding: 20px 14px;
    border-radius: 1000px;
    scale: 0;
    opacity: 0;
    cursor: pointer;
    mix-blend-mode: difference;
    font-size: 10px;
}
#play-btn h1{
    cursor: pointer;
}

#test{
    background-color: #DB1C1F;
    height: 5vh;
    width: 5vw;
    opacity: 1;
    scale: 1;
    cursor: pointer;
}
#audio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 20vw;
}
#video{
    cursor: pointer;
}