@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 0;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #141414;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #ffffff3c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 7, 7);
    left: 0;
    top: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    top: 0;
    left: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #ffffff7e;
    text-decoration: none;
    position: relative;
    z-index: 9;
    cursor: pointer;
}

#nav-part2 h4:hover a {
    color: #000000;
    z-index: 9;
}
#center{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    padding-bottom:  5vh;
    border-bottom:1px #969696 solid;
}
#left a{
    text-decoration: none;
}
#left h3 {
    color: #969696;
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
    transition: .3s ease-in-out;

}
#left h3:hover{
    color:#DB1C1F;
}

#center h1 {
    color: #DB1C1F;
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    transition: .5s ease-in-out;
    
}
#center h1:hover{
    color: #969696;
}
video{
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #141414;
    position: relative;
    
}
.con{
    display: flex;
    width: 7000px;
    align-items: center;
    justify-content: space-between;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.con h1{
    font-size: 20vh;
    color: #969696;
    transition: .5s;

}
.circle{
    background-color: rgb(149, 149, 149);
    height: 5vh;
    width: 5vh;
    border-radius: 20px;
}
#moving-text{
    width: 100%;
    overflow: hidden;
}
@keyframes move {
    from{
        translate: 0%;
    }
    to{
        translate: -77%;
    }
}
.con h1:hover{
    color: #DB1C1F;
}
#play-btn{
    background-color: white;
    position: fixed;
    color: #DB1C1F;
    padding: 20px 14px;
    border-radius: 1000px;
    scale: 0;
    opacity: 0;
    cursor: pointer;
    mix-blend-mode: difference;
    font-size: 10px;
}
#play-btn h1{
    cursor: pointer;
}

#test{
    background-color: #DB1C1F;
    height: 5vh;
    width: 5vw;
    opacity: 1;
    scale: 1;
    cursor: pointer;
}
#audio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 20vw;
}
#video{
    cursor: pointer;
}
#about-creator{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}
#about-creator #about{
    z-index: 2;
} 

#hero{
    background: linear-gradient(rgb(255, 255, 255),#ffffff);
    height: 500px;
    width: 500px;
    left: 25%;
    top: 25%;
    border-radius: 50%;
    filter: blur(30px);
    position: absolute;
    animation-name: jiggly;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    mix-blend-mode: difference;

}
#hero2{
    background: linear-gradient(rgb(255, 255, 255),#ffffff);
    height: 500px;
    width: 500px;
    left: 25%;
    top: 45%;
    border-radius: 50%;
    filter: blur(30px);
    position: absolute;
    animation-name: jiggly;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    mix-blend-mode: difference;
}
@keyframes jiggly {
    from{
        transform: rotate3d(0px,0px,0px);
        transform: skew(-7deg);
    }
    to{
        transform: rotate3d(100px,2000px,2000px);
        scale: 1.04;
    }
}
#about{
    margin-top: 50vh;
    color: #ffffff;
    font-size: 6vh;
    margin-bottom: 300px;
    width: 50%;
    line-height: 5vh;
}
#about h1{
    z-index: 9;
}
.creator{
    height: 100%;
    width: 35%;
    /* background-color: #DB1C1F; */
}
#imgco{
    height: 70%;
    width: 100%;
}
#imgco img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#imgco h6{
    margin-top: 20px;
    font-size: 2vh;
    color: #969696;
    text-align: center;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #DB1C1F;
    padding: 20px;
}
#head{
    height: 25vh;
    border: 5px #141414 solid;
    border-radius: 20px;
    padding: 0px 20px;
    margin-bottom: 1vh;
    color: #141414;
    width: 100%;
    transition: 0.5s ease-in ;
}
#small{
    padding-left: 40px;
    transition: 0.5s ease-in;
}
#big{
    font-size: 12vh;
    text-align: center;
    transition: 0.5s ease-in;
}
#head:hover{
    background-color: #141414;
    color: #DB1C1F;
}
#head:hover #big{
    font-size: 1vh;
}
#head:hover #small{
    padding-top:30px ;
    font-size: 12vh;
    text-align: center;
}
.question{
    margin-bottom: 1vh;
    height: 15vh;
    border: 2px #141414 solid;
    background-color: #141414;
    border-radius: 20px;
    color: #DB1C1F;
    padding: 0px 20px;
    display: flex;
    transition: 0.5s ease-in;
}
.ques{
    font-size: 12vh;
    transition: 0.5s ;
}
.ans{
    font-weight: 100;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 2vh;
    transition: 0.5s ;
}
.ans a{
    text-decoration: none;
    color: #DB1C1F;
}
.question:hover .ques{
    font-weight: 100;
    font-size: 2vh;
    padding-top: 20px;
}
.question:hover .ans{
    font-size: 12vh;
    font-weight: 500;
    padding-top: 2px;
}
.question:hover #socials{
    font-size: 12vh;
    font-weight: 500;
    padding-top: 2px;
    gap: 5vh;
}
#socials{
    display: flex;
    justify-content: space-between;
    gap: 1vh;
}
#Li{
    transition: 0.2s;
}
#X{
    transition: 0.2s;
}
#IG{
    transition: 0.2s;
}

#Li:hover{
    scale: 1.05;
    color: #ffffff;
}
#X:hover{
    scale: 1.05;
    color: #ffffff;
}
#IG:hover{
    scale: 1.05;
    color: #ffffff;
}




.album-page{
    background-color:#141414 ;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    padding-bottom: 20px;
}
.album-left{
    width: 50vw;
}
#lunchbreak{
    font-size: 20vh;
    color: transparent;
    background: linear-gradient(to right,#0066ff, rgb(0, 221, 255) );
    -webkit-background-clip: text;
}
#nayaab{
    font-size: 20vh;
    color: transparent;
    background: linear-gradient(to right,#74a0e1, rgb(0, 221, 255) );
    -webkit-background-clip: text;
}
#n{
    font-size: 20vh;
    color: transparent;
    background: linear-gradient(to right,#84ff00, rgb(127, 186, 0) );
    -webkit-background-clip: text;
}
#bayaan{
    font-size: 20vh;
    color: transparent;
    background: linear-gradient(to right,red,orangered );
    -webkit-background-clip: text;
}

.album-left p{
    font-size: 5vh;
    color: #ffffff7e;
    padding-top: 40px;
}
.album-right{
    width: 90vh;
    height: 95vh;
    justify-content: center;
}
.album-right iframe{
    padding-top: 40px;

}
#page4{
    height: 100vh;
}
.footer{
    height: 100vh;
    position: relative;
    background-color: #000000;
    overflow: hidden;
}
.shape{
    height: 80%;
    position: relative;
}
.footer-shape{
    position: absolute;
    background: linear-gradient(orangered,red);
    width: 30vw;
    height: 30vw;
    border-radius: 50000px;
    z-index: 0;
    filter: blur(20PX);
}
#shape1{
    right: 1250px;
    z-index: 1;
    height: 70vh;
    width: 70vh;
    animation-name: shape1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#shape2{
    left:0%;
    bottom: 60%;
    width: 70vw;
    rotate: -20deg;
    animation-name: shape2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#shape3{
    animation-name: shape2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes shape1 {
    from{
        scale: 1.1;
    }
    to{
        scale: 1.3;
    }
}
@keyframes shape2 {
    from{
        scale: 1.1;
    }
    to{
        scale: 1.1;
        transform: rotate3d(20px,0,0);
        transform: rotate(10deg);
    }
}
@keyframes shape3 {
    from{
        transform: translateX(0);
        transform: translateY(0);
    }
    to{
        transform: translateX(10);
        transform: translateY(10);
    }
}

.shubhxm{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}
.shubhxm h1{
    z-index: 2;
    position: relative;
}
.shubhxm h2{
    font-weight: 200;
    color:#ffffff;
}
.bottom{
    display: flex;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    font-size: 40vh;
    top: 60%;
    right: 0;
    cursor: pointer;
}
.footer-wrapper{
    position: fixed;
    width: 100%;
}